$colors: (
  "warning": $warning,
  "lightgray": $lightgray,
  "lightgraytwo": $lightgraytwo,
  "light": $light,
  "dark": $dark,
  "danger": $danger,
  "skyblue": $skyblue,
  "blue": $blue,
  "lightblue": $lightblue,
  "cyan": $cyan,
  "cyanlight": $cyanlight,
  "cyandark": $cyandark,
  "navyblue": $navyblue,
);

@each $key, $val in $colors {
  .text-#{$key} {
    color: $val;
  }
}

@mixin btn($color) {
  padding: 4px 22px;
  font-family: Oxygen;
  font-size: $xs-text;
  color: $light;
  background-color: $color;
  border-radius: 6px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s;
  border: 1px solid $color;
  &:hover {
    background-color: $light;
    background-image: none;
    border: 1px solid $color;
    color: $blue;
  }
}
