@font-face {
  src: url("../fonts/Oxygen/Oxygen-Light.ttf") format("truetype");
  font-family: "Oxygen-Light";
  font-weight: 300;
}
@font-face {
  src: url("../fonts/Oxygen/Oxygen-bold.ttf") format("truetype");
  font-family: "Oxygen-Bold";
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Oxygen/Oxygen-Regular.ttf") format("truetype");
  font-family: "Oxygen";
  font-weight: normal;
}
