$warning: #ffc246;
$lightgray: #dfe5f9;
$lightgraybg: #f5f8ff;
$lightgraytwo: #f3f6fe52;
$light-500: rgb(252 252 252 / 11%);
$light: #ffffff;
$lightdark: #56585b;
$dark: #000a12;
$danger: #ee2e6b;
$skyblue: #93d7fd;
$blue: #1348fc;
$lightblue: #5470de;
$cyan: #47dfcf;
$cyanlight: #01c0aa;
$cyandark: #39d3ec;
$navyblue: #1f263e;

$xs-text: 12px;
$sm-text: 15px;
$sm-500-text: 18px;
$sm-1000-text: 20px;

