
.highcharts-legend-item{
    display: none;
}

.highcharts-markers{
    display: none;
}
.highcharts-no-tooltip{
    display: none;
}
.highcharts-background{
    height: 80px !important;
    width: 100% !important;
}

.highcharts-container {
    height: 375px !important;
}