.detail {
  position: relative;
  .act_sec {
    width: 48%;
    margin-right: 20px;
    background-color: $light;
    border-radius: 12px;
    &_heading {
      font-size: $sm-500-text;
      font-family: Oxygen;
      padding: 14px 20px;
      span {
        @extend %arc;
      }
    }
    .act_coin_list {
      position: relative;
      padding: 14px 24px;
      & .act_coin_item {
        position: relative;
        color: $muted;
        font-family: Oxygen;
        font-size: $xs-text;
        cursor: pointer;
        &:hover {
          color: $lightblue;
        }
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 0px;
          height: 2px;
          top: 15px;
          left: 0;
          background-color: $lightblue;
          transition: all 0.4s ease-in-out;
        }
        &:hover::after {
          width: 100%;
          transform-origin: left left;
          transition: all 0.6s ease-in-out;
        }
        &:not(:last-child) {
          margin-right: 22px;
        }
      }
    }
    .act_list_header {
      padding: 14px 20px;
      background-color: $lightgraybg;
      height: 38px;
      width: 100%;
      border-top: 1px solid $cyanlight;
      p {
        text-align: center;
        width: 33%;
        color: $lightdark;
        font-size: $xs-text;
        font-family: Oxygen-Bold;
      }
    }
    .act_list_items {
      max-height: 400px;
      overflow-y: scroll;
      scrollbar-width: none; //safari/IE/other older browser
      &::-webkit-scrollbar {
        display: none;
      }
      .act_list_item {
        // div{
        //     width: 100%;
        // }
        padding: 14px 20px;
        border-bottom: 0.2px solid $lightgray;

        &:last-child {
          border: none;
        }
        p {
          color: $muted;
          font-size: $xs-text;
          font-family: Oxygen;
          text-align: center;
          width: 33%;
          &:last-child {
            color: $lightblue;
          }
        }
      }
    }
  }

  .news_sec {
    width: 50%;
    background-color: $light;
    border-radius: 12px;
    scrollbar-width: none; //safari/IE/other older browser
    .news_sec_header {
      padding: 14px 20px;
      &_title {
        span {
          @extend %arc;
        }
        p {
          font-size: $sm-500-text;
          font-family: Oxygen;
        }
      }
      a {
        @include secondaryBtn($lightblue);
      }
    }
    .feed_cards {
      height: 450px;
      overflow-y: scroll;
      padding: 16px;
      &_item {
        margin-block: 12px;
        border-radius: 12px;
        border: 0.1px solid $cyanlight;
        .feed_details {
          width: 80%;
          padding: 4px 20px;
          p {
            color: $lightdark;
            font-size: $xs-text;
            margin-bottom: 8px;
            &:nth-child(2) {
              font-size: $sm-500-text;
            }
            &:nth-child(3) {
              font-size: $xs-text;
              color: $muted;
            }
          }
        }
        .feed_diagram {
          position: relative;
          overflow: hidden;
          width: 106px;
          height: 108px;
          border-bottom-right-radius: 12px;
          border-top-right-radius: 12px;
          border-right: 1px solid $lightblue;
          border-bottom: 1px solid $lightblue;
          &::after {
            content: "";
            position: absolute;
            width: 110%;
            height: 100%;
            top: 50px;
            left: 0;
            border-top: 1px solid $lightblue;
            transform: skewY(-45deg);
            background-color: $lightblue;
          }
        }
      }
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
