.carousel_cnt {
  position: relative;
  transition: all 0.4s ease-in;

  //   overflow: hidden;
  .cr_header {
    &_left {
      p {
        color: $dark;
        font-size: $sm-text;
        font-family: Oxygen;
        cursor: pointer;
        &.pg_active {
          span {
            border-top: 8px solid $blue;
          }
          color: $blue;
        }
        span {
          display: inline-block;
          margin-inline: 10px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-top: 8px solid $dark;
          transform: rotate(314deg);
        }
      }
    }
    .cr_header_rgt {
      div {
        margin-inline: 14px;
        width: 36px;
        height: 36px;
        background-color: $light;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
      }
      &_control {
        .cr_left {
          .arrow_left {
            margin-left: 5px;
            width: 10px;
            height: 10px;
            border-left: 1px solid $blue;
            border-bottom: 1px solid $blue;
            transform: rotate(44deg);
          }
        }
        .cr_right {
          .arrow_right {
            margin-left: -5px;
            width: 10px;
            height: 10px;
            border-left: 1px solid $blue;
            border-bottom: 1px solid $blue;
            transform: rotate(226deg);
          }
        }
      }
    }
  }
  & .swiper {
    position: relative;
    margin: 14px auto;
    overflow: hidden;
    width: 100%;
    transition: all 0.4s ease-in;
  }
  & .swiper-wrapper {
    width: 100%;
    display: -webkit-box;
  }
  & .swiper-slide {
    height: 125px;
    padding: 12px;
    margin-right: 14px;
    border-radius: 12px;
    border: solid 0.7px #dfe5f9;
    background-color: $light;
    .card_detail {
      svg {
        margin-right: 20px;
      }
      ul {
        font-family: Oxygen;
        font-size: $xs-text;
        li {
          &:first-child {
            font-size: $sm-text;
            margin-bottom: 5px;
          }
        }
      }
      &_name {
        margin-right: auto;
      }
    }
    .cr_card_graph {
      height: 120px;
    }
  }
}
